* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }

  /* header */

  /* headline atas */

  /* konten */

  /* tambahan di bawah */

  /* footer */